<div class=" p-0 card">
  <div class="card-header bg-title">
    <h6 class="card-title"><strong>{{item.name}}</strong><p class="text-right"> Niv. min. {{item.level_min()}} - {{item.rarity}}</p></h6>
    <p><em>{{item.description}}</em></p>
  </div>

  <div class="card-body">
    <item-levels [itemLevels]="item.itemLevels"></item-levels>

    <ul class="list-group">
      <li class="list-group-item no-border-line bg"></li>
    </ul>
  </div>

  <div class="card-footer test">
    <p><strong>Source</strong> : {{item.source}}</p>
  </div>

</div>
