<h1 class="col-sm">Aide au jeu de rôle Donjons &amp; Dragons 4</h1>
<div class="col-sm">
    <p>Bienvenue sur la promenade de Waukeen, site dédié à D&amp;D4.</p>
    <p>Le site est destiné avant tout au groupe de joueurs dont je fais partie, ainsi qu'aux amis curieux qui souhaitent voir ce que je fais. Si vous êtes tombés sur ce site par hasard, vous pouvez vous inscrire, mais vous n'aurez pas accès à l'ensemble du site.</p>
    <p>Le but de ce site est principalement de fournir une base de donnée de tous les objets et talents écrits dans les différents livres de règles et codex disponibles en français, que vous retrouverez dans les sections <em>Objets</em> et <em>Talents</em>.<br />
    De plus, certains points de règles seront expliqués dans la partie <em>Aides de jeux</em>, et il sera également décrit les règles maisons que nous utilisons lors de nos campagnes.<br />
    Une dernière section, <em>Classes</em> et <em>Races</em>, donnera un bref apercu des possibilités de création de personnages dans D&amp;D4.</p>
    <p>D'autres sections viendront; je pense notamment pour décrire nos campagnes actuelles, en faire des résumés, etc.</p>
    <p>Illisae</p>
</div>
